@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

/* 스크롤을 부드럽게 설정합니다. */
html{
  scroll-behavior: smooth;
}

/* 기본 글꼴 설정 */
body {
  font-family: 'Nunito', sans-serif;
  /* 창 크기가 줄어도 최소 1280px의 너비를 유지합니다. 
  디바이스의 화면 크기가 더 작다면 스크롤이 생성됩니다. */
  min-width: 1280px;
  color: #333333;
}

.h4_margin {
  margin-bottom: 0px;
}

.navtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  height: 50px;
  padding-left: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  
}
.nav_text {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 1500;
  font-size: large;
}

.cropping {
  max-height: 650px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cropping img{
  max-height: initial;
  margin-top: 0%
}

/* .section_image {
  background-image: url("C:\Users\SSAFY\Desktop\hws\web\0804\practice\assets\apparel2.jpeg");
  border-radius: 50px;
} */

.reimage {
  display: flex;
  border-radius: 50px;
  max-width: 500px;
  max-height: 500px;
}

.section_re {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 850px;
  border: 1px solid red;
}

.section_text {
  margin: 1rem;
}

.container {
  width: 1671,98px;
  height: 430px;
}

.text_margin {
  margin: 1rem
}

.text_center{
  text-align: center;
}

.box {
  width: 400px;
  height: 250px;
  border: 1px solid black;
}

.button {
  display: block;
  justify-content: center;
}